body{
    margin:20px;
    padding:20;
    border: 2px;
    background-color: aquamarine;
}

#form{
    border-style: inset;
    margin-right: 700px;
    background-color: rgb(128, 128, 128);
}
h1{
    color: rgba(21, 87, 229, 0.895);
    background-color: rgba(211, 186, 23, 0.679);
    border-style: inset;
    margin-right: 1200px;

}